
@font-face {
    font-family: "WorkSans";
    src: url("../font/WorkSans-Regular.ttf");
}

@font-face {
    font-family: "Inter";
    src: url("../font/Inter_28pt-Regular.ttf");
}

@font-face {
    font-family: "Lora";
    src: url("../font/Lora-Regular.ttf");
}